<h1>Exercise 1: Create a Jupyter Notebook</h1>

Created note book with DataScienceEcosystem.ipynb

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools and Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p> About Data Science Tools and Ecosystem are summarized here <p>


<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li> C/C++.</li>
    <li>JavaScript.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li> R. </li>
    <li> SQL. </li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>BeautifulSoup.</li>
    <li>LightGBM.</li>
    <li>NuPIC.</li>
    <li>Ramp.</li>
    <li>Pipenv.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

<h4> few examples of evaluating arithmetic expressions in Python </h4>

In [1]:
arth = compile("3 + 4", "<string>", "eval")
eval(arth)

7

In [3]:
arth1 = compile("(5 + 5) * 3", "<string>", "eval")
eval(arth1)

30

In [5]:
import math
arth2 = compile("4 / 4 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(arth2)

49087.385212340516

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

This a simple arithmetic expression to mutiply then add integers

In [7]:
(2*2)+5
# Result: 17

9

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

This will convert 200 minutes to hours by diving by 60

In [9]:
days = 0
hours = 0
mins = 0

time = 200
leftover_minutes = time % 1440
hours = leftover_minutes / 60
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<strong> Objectives: </strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> Swasthika Jain T J